RewriteOptions inherit

RewriteEngine on
RewriteCond %{HTTP_HOST} ^grs\.balaiisabel\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.grs\.balaiisabel\.com$
RewriteRule ^/?$ "http\:\/\/grs\.balaiisabel\.com\/index\.php" [R=301,L]

Order Deny,Allow
Deny from all
Allow from 122.54.196.26
Allow from 103.252.32.174
